{% load static %}
<!-- Footer Start --> 
 <section id="footer">
    <div class="container">
        <div class="col-md-4 footer-box-mail">
            <p style="text-align: center;"><b>SUBSCRIBE NEWSLETTER</b></p>
            <input type="email" class="form-control" placeholder="Votre Email" id="">
            <button type="button" class="btn btn-outline-primary">Subscribe</button>
        </div>
        <div class="row">
            <div class="col-md-4 footer-box">
                <img src="{% static 'logo/Logo_Fg_Services.png' %}" alt="">
                <p>Developpement web, infographie, consoles de jeux et ordinateurs portables.</p>
            </div>
            <div class="col-md-3 footer-box-contact">
                <p><b>CONTACTEZ-NOUS</b></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Abidjan, cote d'ivoire</p>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> jasongnahoua36@gmail.com</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +225 07 78 156 245</p>
            </div>
        </div>
        <hr>
        <p class="copyrigth">© 2024 FG_SERVICES, Tous droits réservés, developpé par
            <a href="#">Gnahoua Dagry jason</a></p>
    </div>
 </section>

 <!-- footer end -->

 <!-- Modal Popup End -->
 <script src="{% static 'js/scripts.js'%}"></script>
 <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
